[submodule "lesson-6/lib/forge-std"]
	path = lesson-6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lesson-7/lib/forge-std"]
	path = lesson-7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
